//variables
//fonts
$font: Geometria, Arial, sans-serif;




//colors
$bg: #ffffff;
$yellow: #fcb22d;
$violet: #3e3d67;
$grey-white: #f7f7f7;
$text: #333333;
$blue: #2659cf;

//another
$font-size: 16px;

//layout
/*-----------------SECTION-MIXINS--------------------*/
@import "layout/_mixins";
/*------------------------SECTION-FONTS----------------*/
@import "layout/_fonts";
/*------------------------SECTION-SMART-GRID----------------*/
@import "layout/_smart-grid";
/*------------------------SECTION-ADJUSTMENT----------------*/
@import "layout/_adjustment";
/*-----------------SECTION-HOVER-ANIM--------------------*/
@import "layout/_hover-anim";
/*------------------------SECTION-COMMON----------------*/
@import "layout/_common";

//sections
/*------------------------SECTION-HEADER----------------*/
@import "sections/_header";
/*-----------------SECTION-BANNER--------------------*/
@import "sections/_banner";
/*-----------------SECTION-MAIN-TABS--------------------*/
@import "sections/_main-tabs";
/*-----------------SECTION-CATS--------------------*/
@import "sections/_cats";
/*-----------------SECTION-MAIN-CATALOG--------------------*/
@import "sections/_main-catalog";
/*-----------------SECTION-ACTIONS--------------------*/
@import "sections/_actions";
/*-----------------SECTION-MAIN-BRANDS--------------------*/
@import "sections/_main-brands";
/*-----------------SECTION-MAIN-ABOUT--------------------*/
@import "sections/_main-about";
/*-----------------SECTION-CATALOG--------------------*/
@import "sections/_catalog";
/*-----------------SECTION-CATEGORY--------------------*/
@import "sections/_category";
/*-----------------SECTION-ITEMS--------------------*/
@import "sections/_items";
/*-----------------SECTION-FILTERS--------------------*/
@import "sections/_filters";
/*-----------------SECTION-POPULAR--------------------*/
@import "sections/_popular";
/*-----------------SECTION-PRODUCT--------------------*/
@import "sections/_product";
/*-----------------SECTION-POPUP--------------------*/
@import "sections/_popup";
/*-----------------SECTION-BASKET--------------------*/
@import "sections/_basket";
/*-----------------SECTION-CABINET--------------------*/
@import "sections/_cabinet";
/*-----------------SECTION-ABOUT--------------------*/
@import "sections/_about";
/*------------------------SECTION-FOOTER---------------------*/
@import "sections/_footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}