.button {
  border-radius: 22px;
  height: 43px;
  background-color: $violet;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;
  @include xs-block {
    //height: 30px;
    //border-radius: 15px;
  };

  &:hover {
    background-color: $yellow;
  }

  &__text {
    color: $bg;
    font-weight: 700;
    transition: .3s;
    @include xs-block {
      //font-size: 14px;
    };
  }

  &__svg {
    width: 20px;
    height: 14px;
    fill: $bg;
    margin-left: 20px;
  }

  &_yellow {
    background-color: $yellow;
    box-shadow: 0px 20px 22px -18px rgba(0, 0, 0, 1);

    &:hover {
      background-color: $violet;
    }
  }
}

.proportion {
  width: 100%;
  &_16x9 {
    padding-top: calc((9 / 16) * 100%);
  }
}

.link {
  color: $violet !important;
  opacity: 1 !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .3s;

  &_white {
    .link__text {
      color: $bg;
      border-bottom: 1px dashed $bg;
    }
    .link__svg {
      fill: $bg;
    }
  }

  &:hover {
    .link__text {
      border-bottom: 1px dashed transparent;
    }
  }

  &__text {
    border-bottom: 1px dashed $violet;
    transition: .3s;
  }

  &__svg {
    width: 20px;
    height: 14px;
    fill: $violet;
    margin-left: 10px;
    transition: .3s;
  }
}

.delete {
  width: 43px;
  height: 43px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
  border: 1px solid #fc6969;
  opacity: 0.3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;

  &_grey {
    border: 1px solid $text;

    svg {
      fill: $text;
    }
  }

  &:hover {
    opacity: 1;
  }

  &__svg {
    width: 13px;
    height: 18px;
    fill: #fc6969;
  }
}

.noscroll {
  overflow: hidden;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $text;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $bg;
    border: 1px solid $bg;
    box-shadow: 0px 5px 5px 0px rgba($text, 0.5);
  }

  &__svg {
    width: 20px;
    height: 14px;
    fill: $text;
  }

  &_orange {
    &:hover {
      border: 1px solid $yellow;
      background: $yellow;
      .arrow__svg {
        fill: $bg;
      }
    }
  }

  &_white {
    border: 1px solid $bg;
    .arrow__svg {
      fill: $bg;
    }

    &:hover {
      .arrow__svg {
        fill: $text;
      }
    }
  }
  &_yellow {
    border: 1px solid $bg;
    .arrow__svg {
      fill: $bg;
    }

    &:hover {
      border: 1px solid $yellow;
      background: $yellow;
      .arrow__svg {
        fill: $bg;
      }
    }
  }
  &_violet {
    border: 1px solid $violet;
    .arrow__svg {
      fill: $violet;
    }

    &:hover {
      border: 1px solid $yellow;
      background: $yellow;
      .arrow__svg {
        fill: $bg;
      }
    }
  }

  &_about {
    width: 44px;
    height: 44px;
    border: 1px solid rgba($text, .4);
    .arrow__svg {
      fill: rgba($text, .4);
    }

    &:hover {
      border: 1px solid $yellow;
      background-color: $yellow;

      .arrow__svg {
        fill: $bg;
      }
    }
  }
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__hidden {
    //display: none;
    width: 100%;
  }

  &__button {

    &.active {
      svg {
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-name: rotate;
      }
    }

    &-svg {
      transition: 1s;
      width: 21px;
      height: 21px;
    }
    &:hover {
      //svg {
      //  transform: rotate(360deg);
      //}
    }
  }

}

.address {
  &__title {
    font-weight: 700;
  }
}

.email {
  color: $blue;
  transition: .3s;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;

  @include sm-block {
    margin-bottom: 20px;
  };

  &_white {
    .breadcrumb {
      color: $bg;

      &_selected {
        color: #adadad;
      }
    }
  }
}

.breadcrumb {
  text-decoration: underline;
  padding-right: 30px;
  margin-right: 25px;
  position: relative;

  @include xs-block {
    margin-right: 10px;
    padding-right: 15px;
  };

  &:not(:first-child) {
    @include xs-block {
      max-width: 90px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    };
  }



  &:after {
    content: '/';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:last-child {
    margin-right: 0;
    padding-right: 30px;
    &:after {
      display: none;
    }
  }

  &_selected {
    text-decoration: none;
    color: #adadad;
  }
}

.section {
  &__top {
    display: flex;
    //flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 1px solid $violet;
    padding-bottom: 10px;
    margin-bottom: 40px;

    @include lg-block {
      align-items: center;
    };
    @include sm-block {
      align-items: flex-start;
      flex-direction: column;
      border-bottom: none;
      margin-bottom: 20px;
    };
  }
}

.title {
  color: $violet;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  @include sm-block {
    font-size: 24px;
    border-bottom: 1px solid $violet;
    width: 100%;
    padding-bottom: 13px;
  };
}

.type {
  height: 43px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  @include sm-block {
    display: none;
  };

  &__button {
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
    cursor: pointer;

    &.active {
      .type__item {
        background: $yellow;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    background: #cccccc;
  }

  &__quad {
    width: 11px;
    height: 11px;
    margin-bottom: 2px;
  }

  &__line {
    width: 100%;
    height: 6px;
    margin-bottom: 3px;
  }
}

.pag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__link {
    width: 52px;
    height: 52px;
    border: 1px solid $violet;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: $violet;
    font-size: 18px;
    font-weight: 500;

    @include sm-block {
      margin-right: 15px;
    };
    @include xs-block {
      width: 35px;
      height: 35px;
      margin-right: 5px;

      &:first-child{
        display: none;
      }
      &:last-child {
        display: none;
      }
    };

    &:last-child {
      margin-right: 0;
    }

    &.active, &:hover {
      //width: 52px;
      //height: 52px;
      background-color: $yellow;
      border: 1px solid $yellow;
      color: $bg;
    }
  }

  &__svg {
    width: 28px;
    height: 20px;
    fill: $violet;
  }
}

.chars {

}

.char {
  display: flex;
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    flex-basis: 85%;
    color: rgba($text, .6);
    line-height: 1;

    @include sm-block {
      flex-basis: auto;
      flex-grow: 1;
    };

    &:after {
      content: '';
      background: url("/images/icons/line.png") 0 0 repeat-x;
      height: 1px;
      flex-grow: 1;
      margin: 0 5px;
    }
  }

  &__value {
    color: $violet;
    font-weight: 500;
    line-height: 1;
  }
}

.rating {

  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 5px;
    @include xs-block {
      text-align: center;
    };
  }

  &__input {
    display: none;

    &:checked ~ .rating__star {
      svg {
        fill: #dedede;
        stroke: #dedede;
      }
    }
  }

  &__star {
    padding: 0 5px;
    cursor: pointer;

    &:first-child {
      margin-right: 0;
    }

    svg {
      fill: transparent;
      width: 20px;
      transition: .3s;
      stroke: rgba($text,.5);
    }

    &:hover, &:hover ~ .rating__star {
      svg {
        fill: #dedede;
        stroke: #dedede;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -5px;
    margin-right: -5px;

    &:hover .rating__star {
      svg {
        fill: transparent;
        stroke: rgba($text,.5);
      }
    }

    &:hover .rating__star:hover,
    &:hover .rating__star:hover ~ .rating__star {
      svg {
        fill: #dedede;
        stroke: #dedede;
      }
    }

  }
}

/*FILTER*/
.sort {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  margin-left: auto;

  @include sm-block {
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 25px;
  };
  @include xs-block {
    align-items: flex-start;
    flex-direction: column;
  };

  &__label {
    margin-right: 15px;
    @include xs-block {
      margin-bottom: 10px;
      margin-left: 0;
    };
  }

  .ui-button {
    //border: 1px solid $yellow;
    //border-radius: 22px;
  }

  .ui-selectmenu-button.ui-button {
    width: 276px;
    border-radius: 22px;
    border: 1px solid $yellow;
    background-color: #fafafa;
    padding: 10px 22px;
    outline: none;
  }

  .ui-button .ui-icon {
    background-image: url("/images/icons/arrw.svg");
    background-position: center center;
    background-size: 12px 7px;
  }

}

.ui-selectmenu-menu {

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 22px 19px 22px;
    border-color: transparent transparent $yellow transparent;
    position: absolute;
    left: 50%;
    margin-left: -22px;
    top: 6px;
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 21px 18px 21px;
    border-color: transparent transparent $bg transparent;
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 8px;
  }

}

.ui-widget.ui-widget-content {
  margin-top: 25px;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid $yellow;
  background-color: $bg;
  border-radius: 6px;
  position: relative;
}

.ui-menu .ui-menu-item-wrapper {
  padding: 10px 20px;
}

.ui-button.ui-state-active:hover,
.ui-button:active,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active {
  background: #fafafa;
  border: none;
  color: $text;
}

/*END FILTER*/

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(361deg);
  }
}

.lg {
  &-24 {
    @include size-lg(24);
  }
  &-12 {
    @include size-lg(12);
  }
  &-n {
    @include lg-block {
      display: none;
    };

  }

  @include lg-block {
    &-order {
      &-1 {
        order: 1;
      }
      &-2 {
        order: 2;
      }
      &-3 {
        order: 3;
      }
      &-4 {
        order: 4;
      }
      &-5 {
        order: 5;
      }
      &-6 {
        order: 6;
      }

    }
  };


}