.button {
  border-radius: 22px;
  height: 43px;
  background-color: $violet;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: $yellow;
  }

  &__text {
    color: $bg;
    font-weight: 500;
    transition: .3s;
  }
}

.link {
  color: $violet !important;
  opacity: 1 !important;
  display: flex;
  align-items: center;
  transition: .3s;

  &:hover {
    .link__text {
      border-bottom: 1px dashed transparent;
    }
  }

  &__text {
    border-bottom: 1px dashed $violet;
    transition: .3s;
  }

  &__svg {
    width: 20px;
    height: 14px;
    fill: $violet;
    margin-left: 10px;
    transition: .3s;
  }
}
