.button {
  border-radius: 22px;
  height: 43px;
  background-color: $violet;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: $yellow;
  }

  &__text {
    color: $bg;
    font-weight: 500;
    transition: .3s;
  }
}

.link {
  color: $violet !important;
  opacity: 1 !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .3s;

  &_white {
    .link__text {
      color: $bg;
      border-bottom: 1px dashed $bg;
    }
    .link__svg {
      fill: $bg;
    }
  }

  &:hover {
    .link__text {
      border-bottom: 1px dashed transparent;
    }
  }

  &__text {
    border-bottom: 1px dashed $violet;
    transition: .3s;
  }

  &__svg {
    width: 20px;
    height: 14px;
    fill: $violet;
    margin-left: 10px;
    transition: .3s;
  }
}

.noscroll {
  overflow: hidden;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $text;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $bg;
    border: 1px solid $bg;
    box-shadow: 0px 5px 5px 0px rgba($text, 0.5);
  }

  &__svg {
    width: 20px;
    height: 14px;
    fill: $text;
  }

  &_white {
    border: 1px solid $bg;
    .arrow__svg {
      fill: $bg;
    }

    &:hover {
      .arrow__svg {
        fill: $text;
      }
    }
  }

  &_about {
    width: 44px;
    height: 44px;
    border: 1px solid rgba($text, .4);
    .arrow__svg {
      fill: rgba($text, .4);
    }

    &:hover {
      border: 1px solid $yellow;
      background-color: $yellow;

      .arrow__svg {
        fill: $bg;
      }
    }
  }
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__hidden {
    //display: none;
  }

  &__button {

    &.active {
      svg {
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-name: rotate;
      }
    }

    &-svg {
      transition: 1s;
      width: 21px;
      height: 21px;
    }
    &:hover {
      //svg {
      //  transform: rotate(360deg);
      //}
    }
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(361deg);
  }
}