.about {
  position: relative;
  padding-bottom: 100px;

  &__left,&__right {
    @include col;
    @include size(12);
    @include size-lg(24);
  }
  &__left {
    @include lg-block {
      margin-bottom: 40px;
    };
  }
  &__right {
    @include lg-block {
      display: flex;
      justify-content: center;
    };
  }

  &__content {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__desc {
    color: rgba($text,.9);
  }
  &__col {
    @include col;
    @include size(12);
    @include size-xs(24);
  }

  &__row {
    display: flex;
    margin-bottom: 25px;

    @include sm-block {
      flex-direction: column;
      align-items: center;
      margin-bottom: 13px;
    };

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 276px;
    height: 257px;
    flex-basis: 50%;

    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    border: 6px solid $bg;
    background-color: #717372;
    overflow: hidden;

    &_1 {
      transform: rotate(10deg);
      transform-origin: 20px center;
      .about__pic {
        transform: rotate(-10deg);
      }
      @include sm-block {
        transform: rotate(1deg);
        margin-top: 5px;
        .about__pic {
          transform: rotate(-1deg);
        }
      };
    }

    &_2 {
      max-width: 547px;
      transform: rotate(4deg);
      .about__pic {
        transform: rotate(-4deg);
      }
      @include sm-block {
        max-width: 276px;
        transform: rotate(-1deg);
        .about__pic {
          transform: rotate(1deg);
        }
      };
    }
  }
  &__pic {
    max-width: initial;
  }

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    @include xs-block {
      display: none;
    };
  }
}

.scope {
  background-color: $grey-white;
  padding: 90px 0;
  @include md-block {
    padding: 70px 0;
  };

  &__left,&__right {
    @include col;
    @include size(12);
    @include size-md(24);
  }
  &__right {
    @include md-block {
      margin-bottom: 45px;
    };
    @include xs-block {
      margin-bottom: 30px;
    };
  }
  &__left {
    @include md-block {
      padding: 0 10%;
    };
    @include xs-block {
      padding: 0;
    };

  }

  &__title {
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 25px;
    @include md-block {
      text-align: center;
    };
    @include xs-block {
      font-size: 24px;
    };
  }

  &__content {
    color: rgba($text,.9);
    margin-bottom: 30px;
    @include md-block {
      padding: 0 20px;
      text-align: center;
      margin-bottom: 5px;
    };
  }

  &__numbers  {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    @include md-block {
      padding: 0 7%;
    };
    @include xs-block {
      flex-wrap: wrap;
      justify-content: space-evenly;
    };
  }
  &__number {
    &-title {
      color: $violet;
      font-size: 71px;
      font-weight: 900;
      border-bottom: 2px solid $violet;
      margin-bottom: 15px;
      text-align: center;
    }

    &-text {
      font-size: 18px;
      color: rgba($text,.9);
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include xs-block {
      border-top: 1px solid #acacac;
      border-bottom: 1px solid #acacac;
    };
  }
  &__item {
    width: 50%;
    border-top: 1px solid #acacac;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $violet;
    font-weight: 700;
    text-align: center;
    @include xs-block {
      padding: 15px 20px;
    };

    &:first-child {
      border-top: none;

      + .scope__item {
        border-top: none;
      }
    }

    &:nth-child(odd) {
      border-right: 1px solid #acacac;
    }

  }

  &__img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;justify-content: center;
  }
  &__pic {
    max-height: 100%;
  }
}

.certs {
  padding-bottom: 50px;
  &__bg {
    margin-bottom: 70px;
    .container {
      max-width: 1245px;
    }
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 25px;
    @include xs-block {
      font-size: 24px;
    };
  }

  &__slider {
    position: relative;
  }

  &__container {
    @include xs-block {
      margin-bottom: 10px;
    };
  }

  &__next,&__prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }
  &__prev {
    left: -60px;
  }
  &__next {
    right: -60px;
  }

  &__pagination {
    display: none;
    position: relative;
    @include xs-block {
      display: flex;
      justify-content: center;
    }
  ;

    span {
      width: 11px;
      height: 11px;
      border: 1px solid $text;
      opacity: 1;
      background: none;
      transition: .3s;
      margin-right: 15px;
      outline: none;

      &:last-child {
        margin-right: 0;
      }

      &.swiper-pagination-bullet-active {
        background: $text;
      }
    }
  }
}
.cert {
  display: flex;
  justify-content: center;
  &__fancy {
    display: block;
    outline: none;
  }

  &__img {
    width: 100%;
    max-width: 300px;
    outline: none;
  }
}