.actions {

}

.action {
  @include col;
  @include size(24);
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  border-radius: 6px;
  overflow: hidden;
  height: 450px;
  margin-bottom: 30px;
  transition: .3s;
  @include lg-block {
    height: 365px;
  };

  &:hover {
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.4);
  }

  &__img {
    position: absolute;
    z-index: 20;
    right: 44px;
    bottom: 22px;
    width: 490px;
    height: 320px;
    overflow: hidden;
    @include lg-block {
      width: 252px;
      height: 52px;
    };
  }
  &__percent {
    position: absolute;
    bottom: 45px;
    right: 170px;
    display: inline-flex;
    align-items: center;
    border-radius: 32px;
    border: 2px dashed $bg;
    padding: 7px 75px 7px 40px;
    color: $violet;
    font-size: 30px;
    font-weight: 700;
    background: rgba($bg, 0.2);
    @include lg-block {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 25px;
      padding: 0;
      justify-content: center;
    };
  }
  &__pic {
    position: absolute;
    right: 0;
    top: 0;
    @include lg-block {
      display: none;
    };
  }

  &__title {
    background: url("../images/content/actions/actionbg1.jpg") 0 0 no-repeat;
    background-size: cover;
    flex-grow: 1;
    padding: 50px;
    color: $bg;
    font-size: 47px;
    font-weight: 800;
    @include lg-block {
      padding: 30px;
      font-size: 34px;
    };
  }

  &-2 {
    @include size(12);
    padding: 40px 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @include lg-block {
      padding: 20px 30px;
      background-position: right 0;
    };

    &__title {
      color: $bg;
      font-size: 30px;
      font-weight: 500;
      @include lg-block {
        font-size: 22px;
      };
    }

    &__percent {
      color: $bg;
      font-size: 47px;
      font-weight: 800;
      @include lg-block {
        font-size: 38px;
      };
    }

  }

  &-3 {
    @include size(12);
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 35px;
    @include lg-block {
      background-position: center 0;
    };

    &__percent {
      font-size: 62px;
      line-height: 1;
      stroke: $bg;
      stroke-dasharray: 2%;
      font-weight: 900;
      fill: rgba($bg, 0);
      margin-top: auto;
      margin-bottom: 60px;
      @include lg-block {
        margin-top: 0;
        margin-bottom: 50px;
      };

    }

    &__stick {
      border-radius: 22px;
      background-color: $yellow;
      padding: 7px 20px;
      color: $bg;
      font-size: 20px;
      margin-bottom: 25px;
      @include lg-block {
        padding: 7px 15px;
        margin-bottom: 0;
      };
    }

    &__title {
      color: $bg;
      font-size: 36px;
      font-weight: 500;
      @include lg-block {
        font-size: 20px;
        order: -1;
        margin-top: auto;
      };
    }
  }

  &-4 {
    @include size(8);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include size-lg(12);

    &__stick {
      border-radius: 22px;
      background-color: $yellow;
      color: $bg;
      font-size: 20px;
      font-weight: 500;
      padding: 7px 30px;
      margin-top: 20px;
      margin-left: 20px;
    }

    &__title {
      background-color: $violet;
      color: $bg;
      font-size: 28px;
      font-weight: 500;
      padding: 18px 30px;
    }
  }

  &-5 {
    @include size(8);
    padding-bottom: 45px;
    @include lg-block {
      display: none;
    };

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__pic {
      position: relative;
      z-index: 20;
    }
    &__percent {
      position: absolute;
      z-index: 10;
      bottom: 30px;
      right: -50px;
      border-radius: 26px;
      border: 2px dashed $bg;
      color: $violet;
      font-size: 28px;
      font-weight: 700;
      padding: 2px 30px;
      background: rgba($bg, 0.2);
    }

    &__title {
      color: $bg;
      font-size: 28px;
      font-weight: 500;
      text-align: center;
      width: 100%;
    }

  }

  &-6 {
    @include size(8);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px 30px 20px;
    @include size-lg(12);

    &__percent {
      border-radius: 26px;
      border: 2px dashed $bg;
      background-color: rgba($bg, .2);
      padding: 2px 50px;
      color: $bg;
      font-size: 28px;
      font-weight: 700;
    }

    &__title {
      text-align: center;
      color: $bg;
      font-size: 40px;
      font-weight: 500;
      @include lg-block {
        font-size: 30px;
      };
    }
  }

}