.brands {
  padding-bottom: 50px;
}
.brand {
  @include col;
  @include size(6);
  @include size-md(8);
  @include size-xs(12);
  @include xs-block {
    margin-bottom: 20px;
    height: 72px;
  };
  padding: 10px;
  height: 112px;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  transition: .3s;

  &:hover {
    box-shadow: 0 7px 12px rgba(39, 37, 37, 0.3);
    border: 1px solid $violet;
  }

  &__img {
    max-height: 100%;
  }
}

.brand-select {
  padding-bottom: 50px;
}