.cabinet {

  > .row {
    align-items: flex-start;
  }

  &__left {
    @include col;
    @include size(6);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include size-lg(24);
  }
  &__switches {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;

    @include lg-block {
      flex-direction: row;
      flex-wrap: wrap;
      border: none;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  ;
  }
  &__switch {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    @include lg-block {
      width: calc(50% - 15px);
      border: 1px solid #e8e8e8;
      &:nth-child(1) {
        border-radius: 6px 6px 0 0;
        border-bottom: none;
        order: 1;
      }
      &:nth-child(2) {
        border-radius: 0 0 6px 6px;
        order: 3;
      }
      &:nth-child(3) {
        border-radius: 6px 6px 0 0;
        border-bottom: none;
        order: 2;
      }
      &:nth-child(4) {
        border-radius: 0 0 6px 6px;
        order: 4;
      }
    };
    @include xs-block {
      width: 100%;
      order: 0;

      &:nth-child(1) {
        border-radius: 6px 6px 0 0;
        border-bottom: none;
        order: 1;
      }
      &:nth-child(2) {
        border-bottom: none;
        border-radius: 0;
        order: 2;
      }
      &:nth-child(3) {
        border-radius: 0;
        order: 3;
      }
      &:nth-child(4) {
        border-radius: 0 0 6px 6px;
        order: 4;
      }
    };

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4.5px 0 4.5px 8px;
      border-color: transparent transparent transparent transparent;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -4.5px;
      transition: .3s;
    }

    &-svg {
      width: 16px;
      height: 15px;
      fill: $text;
      opacity: 0.3;
      margin-right: 8px;
      transition: .3s;
    }
    &-text {
      transition: .3s;
    }

    &:last-child {
      border-bottom: none;
      @include lg-block {
        border-bottom: 1px solid #e8e8e8;;
      }
    ;
    }

    &.active {
      background-color: $grey-white;

      .cabinet__switch-svg {
        fill: $violet;
        opacity: 1;
      }
      .cabinet__switch-text {
        color: $violet;
        font-weight: 700;
      }

      &:after {
        border-color: transparent transparent transparent $violet;
      }
    }
  }
  &__controls {
    color: $violet;
    @include lg-block {
      display: none;
    }
  ;
    &_lg {
      display: none;
      text-align: center;

      @include lg-block {
        display: block;
      }
    ;
    }

    &_exit, &_delete {
      text-decoration: underline;
    }
    &_delete {
      color: #d23131;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__right {
    @include col;
    @include size(18);
    @include size-lg(24);
  }
  &__tabs {
    @include lg-block {
      margin-bottom: 20px;
    };
  }
  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    padding: 30px 40px;
    border-bottom: 1px solid #cbcbcb;

    @include sm-block {
      font-size: 18px;
      padding: 12px 15px;
      text-align: center;
    };
  }
}

.personal {

  &__form {
    border-radius: 6px;
    border: 1px solid #cbcbcb;
    background-color: #fafafa;
    margin-bottom: 30px;
    padding-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &_password {
      .personal__data {
        padding-left: 40px;
        padding-right: 40px;

        @include xs-block {
          padding-left: 15px;
          padding-right: 15px;
        };
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    @include xs-block {
      text-align: center;
    };
  }

  /* left */
  &__left {
    @include col;
    @include size(5.3);
    display: flex;
    justify-content: flex-end;
    @include md-block {
      display: none;
    }
  ;
  }
  &__photo {
    &_md {
      display: none;
      @include md-block {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
      }
      @include xs-block {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      };
    ;
    }
    &-input {
      display: none;
    }
    &-label {
      width: 132px;
      height: 132px;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      @include md-block {
        width: 76px;
        height: 76px;
      }
      @include xs-block {
        width: 120px;
        height: 120px;
      };
    ;
    }
    &-img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  /* END left */

  /* right */
  &__right {
    @include col;
    @include size(18.7);
    @include size-md(24);
    @include md-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    };
  }
  &__data {
    padding: 0 40px;
    @include md-block{
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      >.row {
        //min-width: 100%;
      }
    };
    @include sm-block {
      padding: 0 15px;
    };
  }
  &__fields {
    padding-right: 100px;
    margin-bottom: 30px;
    @include md-block {
      padding: 0;
      width: 100%;
    }
  ;
  }

  &__block {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    //margin-bottom: 18px;
    @include xs-block {
      flex-wrap: wrap;
    };

    &:last-child {
      .personal__field {
        margin-bottom: 0;
      }
      margin-bottom: 0;
    }
  }
  &__field {
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 18px;

    @include xs-block {
      width: calc(100% - 30px);
    };

    label.error {
      position: absolute;
      right: 20px;
      bottom: 15px;
      color: #ff2222;

    }
  }

  &__label {
    color: rgba($text, .7);
    margin-bottom: 10px;

    &_req {
      color: #ff0202;
    }
  }
  &__input {
    height: 50px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background-color: $bg;
    padding: 0 20px;
    outline: none;

    overflow: hidden;
    text-overflow: ellipsis;

    &::placeholder {
      opacity: 0.3;
    }

    &.error {
      box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
      border: 1px solid #ff2222;
    }

    &_name {
      font-weight: 700;
    }
    &_email {
      color: $violet;
    }
  }
  /* END right */

  &__submit {
    width: 226px;
    @include md-block {
      margin: 0 auto;
    };
  }

  .ui-selectmenu-button.ui-button {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background-color: $bg;
    padding: 15px 22px;
    outline: none;
  }

  .ui-button .ui-icon {
    background-image: url("/images/icons/arrw.svg");
    background-position: center center;
    background-size: 12px 7px;
  }

}

.orders {
  border-radius: 6px;
  border: 1px solid #cbcbcb;
  background-color: #fafafa;

  &__list {
    padding: 40px;
    @include sm-block {
      padding: 20px;
    };
  }
}

.order {
  @include col;
  @include size(8);
  @include size-md(12);
  @include size-xs(24);
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  background-color: $bg;
  position: relative;
  transition: .3s;

  &:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    .order__repeat {
      bottom: 0;
    }
  }

  &__repeat {
    position: absolute;
    z-index: 10;
    bottom: -100px;
    left: 0;
    right: 0;
    background-color: $violet;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: .3s;

    &-link {
      border-radius: 21px;
      border: 1px solid $bg;
      color: $bg;
      font-weight: 500;
      width: 100%;
      text-align: center;
      padding: 9px 0;
      transition: .3s;

      &:hover {
        background-color: $yellow;
      }
    }
  }

  &__title {
    border-radius: 4px 4px 0 0;
    background-color: $yellow;
    color: $bg;
    font-weight: 700;
    padding: 12px 20px;
  }

  &__item {
    padding: 15px 20px;
    border-bottom: 1px solid #e8e8e8;

    &:last-child {
      border-bottom: none;
    }
  }

  &__caption {
    opacity: 0.7;
    font-size: 14px;
  }

  &__products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__product {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
    line-height: 1.28;
  }
  &__hidden {
    display: none;
  }
  &__more {
    font-size: 14px;
  }

  &__status {
    color: #0b9b37;
    font-size: 14px;
    font-weight: 500;

    &_not {
      color: #e01717;
    }
  }

  &__date {
    font-size: 14px;
    font-weight: 500;
  }
}

.favs {
  border-radius: 6px;
  border: 1px solid #cbcbcb;
  background-color: #fafafa;
  padding-bottom: 40px;

  &__list {
    padding: 40px;
    @include sm-block {
      padding: 30px 20px;
    };
  }
}

.fav {
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  background-color: $bg;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 40px;
  transition: .3s;
  @include sm-block {
    padding: 20px;
  };
  @include xs-block {
    flex-direction: column;
  };

  &:hover {

    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);

  }

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    max-height: 100px;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 35px;
    @include xs-block{
      margin-right: 0;
      margin-bottom: 10px;
    };
  }

  &__desc {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 25px;
    max-width: 190px;
    @include xs-block {
      margin-right: 0;
      margin-bottom: 20px;
    };
  }

  &__title {
    font-weight: 700;
    margin-bottom: 5px;
    @include sm-block {
      text-align: center;
    };
  }
  &__text {
    font-size: 14px;
    @include xs-block {
      text-align: center;
    };
  }

  &__button {
    padding: 0 30px;
    margin-right: 20px;
    margin-left: auto;
    @include md-block {
      align-self: flex-end;
      margin-right: 0;
    };
    @include sm-block {
      align-self: center;
      order: 1;
      margin: 0 auto;
    };
  }

  &__controls {
    display: flex;
    @include md-block {
      margin-top: 10px;
      margin-left: 130px;
    };
    @include sm-block {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      //width: 100%;
    };
    @include xs-block {
      margin-bottom: 20px;
      padding: 0;
    };
  }
  &__control {
    width: 38px;
    height: 38px;
    border: 1px solid rgba($text, .5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    margin-right: 20px;
    cursor: pointer;
    transition: .3s;

    &:hover, &.active {
      border: 1px solid $yellow;
      background: $yellow;
      svg {
        fill: $bg;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &-svg {
      max-width: 20px;
      max-height: 20px;
      fill: rgba($text, .5);
      transition: .3s;
    }
  }
}

.compare {
  border-radius: 6px;
  border: 1px solid #cbcbcb;
  background-color: #fafafa;

  &__table {
    padding: 40px;
    padding-bottom: 15px;
    @include lg-block{
      padding: 30px;
    };
    @include sm-block {
      padding: 20px;
    };
  }

  &__cell {
    margin-bottom: 15px;
  }

  /* HEAD */
  &__head {
    @include col;
    @include size(7);
    @include size-lg(8);
    @include size-sm(12);
    @include size-xs(24);
    @include xs-block {
      margin-bottom: 25px;
    };
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    &-title {
      color: #353535;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;
      @include xs-block {
        font-size: 16px;
        text-align: center;
      };
    }

    &-button {
      width: 100%;
      height: 43px;
      border-radius: 21px;
      border: 1px solid $violet;
      display: flex;
      align-items: center;
      justify-content: center;

      color: $violet;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &__th {
    color: $violet;
    font-weight: 500;
    letter-spacing: 0.32px;
    @include xs-block {
      display: none;
      margin-bottom: 0;
    };
    &:first-child {
      @include xs-block {
        display: block;
      };
    }
  }
  /* END HEAD */

  &__body {
    @include col;
    @include size(17);
    @include size-lg(16);
    @include size-sm(12);
    @include size-xs(24);
  }

  &__container {
    padding-bottom: 25px;
  }

  &__list {
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    background-color: $bg;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  &__item {
    position: relative;
  }

  &__delete {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    button {
      width: 34px;
      height: 34px;

      svg {
        width: 10px;
        height: 14px;
      }
    }
  }

  &__td {
    letter-spacing: 0.32px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    @include sm-block {
      padding: 0 20px;
    };

    &_border {
      border-bottom: 1px solid #e8e8e8;
    }

    &-title {
      color: $violet;
      font-weight: 500;
      display: none;

      @include xs-block {
        display: block;
      };
    }
  }

  &__img {
    max-width: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__pic {
    max-height: 100%;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    padding-bottom: 40px;
  }
  &__title {
    font-weight: 700;
    text-align: center;
  }

  &__button {
    width: 100%;
  }

  &__next, &__prev {
    position: absolute;
    z-index: 20;
    top: 80px;
    @include xs-block {
      display: none;
    };
  }
  &__next {
    right: 12px;
  }
  &__prev {
    left: 12px;
  }
}