.category {


  &__list {
    @include col;
    @include size(18);
  }

  &__filters {
    @include col;
    @include size(6);
  }
}

.category2 {
  background: url(../images/bg/bg-tabs.jpg) center 0 no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}