.events {
  padding-bottom: 50px;

  &__item {
    @include col;
    @include size(24);
    display: flex;
    flex-direction: column;
    background-color: $grey-white;
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    transition: .3s;
    margin-bottom: 30px;
    overflow: hidden;

    &:hover {
      box-shadow: 0 7px 30px rgba(0, 0, 0, 0.33);
    }

    &_2 {
      @include size(12);
      @include size-md(24);

      .events__item-desc {
        padding-right: 30px;
      }
    }

    &-img {
      max-height: 316px;
      overflow: hidden;
      position: relative;
      @include md-block {
        max-height: 261px;
      };
      @include xs-block {
        max-height: 146px;
      };

      &:hover {
        .events__button {
          opacity: 1;
        }
      }
    }

    &-pic {
      width: 100%;
      display: block;

      &_first {
        @include md-block {
          display: none;
        };
      }

      &_md {
        display: none;
        @include md-block {
          display: block;
        };
      }
    }

    &-date {
      position: absolute;
      top: 30px;
      left: 30px;
      background-color: $yellow;
      border-radius: 6px;
      color: $bg;
      font-weight: 700;
      padding: 10px 15px;
      border: 1px solid $bg;
      box-shadow: 0px 0px 0px 2px $yellow;
      @include xs-block {
        top: 10px;
        left: 10px;
      };
    }

    &-desc {
      padding: 20px 30px;
      padding-right: 25%;
      @include md-block {
        padding-right: 30px;
      };
      @include xs-block {
        padding: 10px 15px;
      };
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
      @include xs-block {
        font-size: 18px;
      };
    }
  }

  &__button {
    width: 220px;
    height: 43px;
    border-radius: 21px;
    border: 1px solid $bg;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21.5px;
    margin-left: -110px;
    transition: .5s;
    opacity: 0;

    &-text {
      color: $violet;
      font-weight: 700;
      margin-right: 17px;
    }

    &-svg {
      width: 20px;
      height: 14px;
      fill: $violet;
    }

  }
}

.event {

  &__left {
    @include col;
    @include size(12);
    position: relative;
  }

  &__date {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: $yellow;
    border-radius: 6px;
    color: $bg;
    font-weight: 700;
    padding: 10px 15px;
    border: 1px solid $bg;
    box-shadow: 0px 0px 0px 2px $yellow;
  }

  &__right {
    @include col;
    @include size(12);
  }
}