.filters {
  @include lg-block {
    max-width: 474px;
    width: 100%;
    margin-top: 680px;
  };
  @include sm-block {
    margin-top: 630px;
  };

  &__open {
    width: 190px;
    height: 43px;
    border-radius: 22px;
    background-color: $yellow;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 3px 4px;
    position: relative;
    @include lg-block {
      display: flex;
    };
    @include sm-block {

      order: 1;
      width: 100%;
    };


    &-img {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 37px;
      height: 37px;
      background-color: $bg;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-svg {
      width: 20px;
      height: 20px;
      fill: $yellow;
    }

    &-text {
      color: $bg;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__form {
    position: relative;
    @include lg-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  ;
  }

  &__close {
    width: 48px;
    height: 48px;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -24px;
    top: -28px;
    cursor: pointer;
    display: none;
    @include lg-block {
      display: flex;
    };

    &-svg {
      width: 22px;
      height: 22px;
      fill: $violet;
    }
  }

  &__list {
    margin-bottom: 30px;
    border-radius: 6px;
    overflow: hidden;
    border-bottom: 1px solid #cbcbcb;
    @include lg-block {
      width: 100%;
      overflow: visible;
      border-bottom: none;
      margin-bottom: 0;
    } ;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;

    @include lg-block {
      padding: 30px 0;
      background-color: $bg;
      border-radius: 0 0 6px 6px;
    };
  }

  &__submit {
    width: 100%;
    @include lg-block {
      max-width: 275px;
    }
  ;
  }
}

.filter {
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;

  @include lg-block {
    border-right: none;
    border-left: none;
  }
;

  &:first-child {
    border-radius: 6px 6px 0 0;
    border-top: 1px solid #cbcbcb;
    overflow: hidden;

    @include lg-block {
      border-radius: 0;
      overflow: visible;
      border-top: none;
    }
  ;

    .filter__title {

      @include lg-block {
        border-radius: 6px 6px 0 0;
        background: transparent url("../images/bg/bf-filter.png") center 0 no-repeat;
        background-size: cover;
        border-top: none;
      }
    ;

    }
  }

  &:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: none;
    overflow: hidden;
    .filter__title {
      border-bottom: none;

      @include lg-block {
        border-bottom: 1px solid #cbcbcb;
      };
    }
    @include lg-block {
      border-bottom: none;
      border-radius: 0;
      border-bottom: 1px solid #cbcbcb;
    }
  ;
  }

  &.open {

    @include lg-block {
      &.filter {
        &:first-child {
          .filter__title {
            background: transparent url("../images/bg/bf-filter.png") center 0 no-repeat;
            background-size: cover;
          }
        }
      }
    }
  ;

    .filter {

      &__title {
        background: $grey-white;
        &-svg {
          transform: rotate(0deg);
        }

        &:before {
          opacity: 1;
        }
      }

      &__content {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 200px;

        &_range {
          height: 105px;
        }
      }
    }

  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    cursor: pointer;
    position: relative;
    background: $bg;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    transition: .3s;

    &:before {
      content: '';
      display: block;
      width: 38px;
      height: 3px;
      background-color: $violet;
      position: absolute;
      bottom: 0;
      left: 20px;
      transition: .3s;
      opacity: 0;
    }

    &-text {
      color: $violet;
      font-weight: 700;
    }
    &-svg {
      width: 16px;
      height: 9px;
      fill: #939393;
      transition: .3s;
      transform: rotate(-180deg);
    }
  }

  &__content {
    height: 0px;
    background: $bg;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    transition: .3s;

    &_range {
      overflow: hidden;
    }
  }

  &__scroll {
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 2px;
      background-color: #cbcbcb;
      opacity: 0.3;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $yellow;
      border-radius: 2px;
    }
  }

}

.checks {

}

.check {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__fake {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #cbcbcb;
    margin-right: 10px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      display: block;
      width: 11px;
      height: 6px;
      border-bottom: 2px solid $bg;
      border-left: 2px solid $bg;
      transform: rotate(-45deg);
      margin-bottom: 4px;
    }
  }

  &__input {
    display: none;

    &:checked + .check__fake {
      background: $yellow;
      border-color: $yellow;
    }
  }
}

.range {

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__label {
    color: #989898;
  }
  &__input {
    width: 75px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    text-align: center;
  }

  &__bottom {
    .ui-widget.ui-widget-content {
      margin-top: 0;
      box-shadow: none;
      border: none;
    }

    .ui-slider-horizontal {
      height: 4px;
      border-radius: 2px;
      background-color: #cbcbcb;
    }

    .ui-widget-header {
      background: $yellow;
    }

    .ui-slider .ui-slider-handle {
      width: 16px;
      height: 16px;
      border: 3px solid $yellow;
      background-color: $bg;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
    }
  }
}