.header {
  position: relative;
  z-index: 100;

  &__top {
    padding: 25px 0 30px 0;
    @include sm-block {
      padding: 20px 0;
    };
  }

  &__left, &__right {
    @include col;
    @include size(12);

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__left {
    @include size-lg(10);
    @include size-md(8);
  }
  &__right {
    @include size-lg(14);
    @include size-md(16);
    @include sm-block {
      justify-content: flex-end;
    };
  }

  &__logo {
    @include xs-block {
      width: 146px;
      min-width: 146px;
    };
    min-width: 179px;
    margin-right: 25px;

  }

  &__addr-search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include md-block{
      display: none;
    };
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    @include sm-block{
      display: none;
    };
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .control {
      @include md-block {
        display: none;
      };
    }
    .cart {
      @include md-block {
        display: flex;
      };
    }
  }

  &__bottom {
    background-color: $violet;
    padding: 15px 0;
    @include sm-block {
      padding: 0;
    };

    &-left {
      @include col;
      @include size(4);
      @include offset-right(1);
      display: flex;
      align-items: center;

      @include size-md(8);
      @include offset-right-md(0);
      @include sm-block {
        padding: 10px 0;
        margin-right: 0;
        width: auto;
        flex-grow: 1;
        border-right: 1px solid $bg;
      };
    }

    &-right {
      @include col;
      @include size(19);
      @include size-md(16);
      @include md-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
      };
      @include sm-block {
        width: auto;
        justify-content: flex-end;
      };
    }

    &-search {
      display: none;
      @include md-block {
        display: block;
        flex-grow: 1;
        margin-right: 52px;
      };
      @include sm-block {
        display: none;
      };
    }

    &-mmenu {
      display: none;
      @include md-block {
        display: block;
      };
    }
  }
}

.logo {
  max-width: 179px;
}

.addr {
  font-size: 12px;
  margin-bottom: 9px;
  transition: .3s;

  &:hover {
    opacity: .8;
  }
}

.search {
  background-image: url("../images/bg/bg-search.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-color: $bg;
  padding: 7px 110px 7px 45px;
  border-radius: 3px;
  border: 1px solid rgba($violet, .5);
  position: relative;

  @include md-block {
    width: 100%;
  };
  @include xs-block {
    padding: 7px 45px 7px 20px;
    background-position: right 20px center;
  };

  &__input {
    border: none;
    outline: none;
  }

  &__submit {
    width: 108px;
    border-radius: 3px;
    background-color: $yellow;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    color: $bg;
    font-weight: 700;
    transition: .3s;
    @include xs-block {
      display: none;
    };

    &:hover {
      background-color: #d99b27;
    }
  }
}

.phone {
  font-size: 20px;
  font-weight: 700;
  transition: .3s;

  &:hover {
    opacity: .8;
  }
}

.callorder-button {
  color: $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  transition: .3s;

  &:hover {
    border-bottom: 1px solid transparent;
  }
}

.enter {
  display: flex;
  align-items: center;
  width: 139px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid $text;
  padding: 3px;
  margin-right: 20px;
  transition: .3s;

  @include sm-block {
    width: 39px;
    height: 39px;
    border: none;
    padding: 0;
  };

  &:hover {
    background-color: $violet;
    .enter__text {
      color: $bg;
    }
  }

  &__img {
    width: 32px;
    height: 32px;
    background-color: $yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm-block {
      width: 100%;
      height: 100%;
    };
  }
  &__svg {
    width: 18px;
    height: 17px;
    fill: $text;
    @include sm-block {
      width: 20px;
      height: 20px;
    };
  }

  &__text {
    max-width: 85px;
    margin: 0 auto;
    transition: .3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include sm-block {
      display: none;
    };
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.control {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid rgba($text, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  transition: .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid $text;

    svg {
      fill: $text;
    }
  }

  &__svg {
    max-width: 22px;
    max-height: 22px;
    fill: rgba($text, .5);
    transition: .3s;
  }
}

.cart {
  background-color: $violet;
  position: relative;

  &:hover {
    opacity: .8;
    svg {
      fill: $bg
    }
  }

  &__svg {
    fill: $bg
  }

  &__count {
    position: absolute;
    bottom: calc(100% - 9px);

    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid $bg;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
  }
}

.menu {
  width: 100%;
  position: relative;
  @include md-block {
    max-width: 174px;
  };

  &:hover {
    .menu__link {
      background-color: #d99b27;
    }
    .menu__drop {
      left: 0;
    }
  }

  &__link {
    width: 100%;
    border-radius: 3px;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    @include sm-block {
      width: 205px;
    };

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 30px;
    }

    &-svg {
      width: 13px;
      height: 13px;
      fill: $bg;
      margin-right: 10px;
    }
    &-text {
      color: $bg;
      font-weight: 500;
    }
  }

  &__drop {
    position: absolute;
    z-index: 100;
    top: calc(100% + 25px);
    left: -2000px;
    @include md-block {
      display: none;
    };

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 16px 17px 16px;
      border-color: transparent transparent $yellow transparent;
      position: absolute;
      bottom: 100%;
      left: 30px;
    }
  }

  &__list {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.38);
    @include md-block {
      display: none;
    };

  }

  &__item {
    background-color: $yellow;
    width: 200px;
    height: 185px;
    border-right: 1px solid $bg;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg-block{
      width: 190px;
      height: 175px;
    };

    &:last-child {
      border-right: none;
    }

    &:hover {
      background-color: #fcbd4c;

      .menu__item-pic {
        display: none;
      }
      .menu__item-pic_active {
        display: block;
      }
      .menu__item-text {
        color: $violet;
      }
    }

    &-img {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
    &-pic {
      max-height: 100%;
      &_active {
        display: none;
      }
    }

    &-text {
      text-align: center;
      color: $bg;
      font-weight: 700;
    }
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;

  @include md-block {
    display: none;
  };

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 60px;
    }

    &:hover {
      .nav__link {
        color: $yellow;
        &:after {
          border-color: $yellow transparent transparent transparent;
        }
      }
      .nav-2 {
        left: 0;
      }
    }

    &_drop {
      .nav__link {
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 6px 0 6px;
          margin-left: 7px;
          border-color: $bg transparent transparent transparent;
          transition: .3s;
        }
      }
    }
  }

  &__link {
    color: $bg;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%;
    transition: .3s;
  }

  &-2 {
    position: absolute;
    z-index: 100;
    left: -2000px;
    top: calc(100% + 40px);

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 16px 17px 16px;
      border-color: transparent transparent $violet transparent;
      position: absolute;
      bottom: 100%;
      left: 30px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 5px;
      width: 185px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.38);
    }

    &__item {
      color: $bg;
      font-weight: 500;
      padding: 13px 20px;
      background-color: $violet;

      &:hover {
        background-color: #46456d;
      }
    }
  }
}

.mmenu {
  &__button {
    width: 45px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include sm-block {
      width: 34px;
      height: 27px;
    };


    &-line {
      height: 6px;
      width: 45px;
      background-color: $bg;
      @include sm-block {
        width: 34px;
        height: 5px;
      };
    }
  }
}