.main-brands {
  background-color: $violet;
  padding: 45px 0;
  @include xs-block {
    padding: 30px 0;
  };

  .row {
    @include xs-block {
      width: 200%;
    };
  }

  &__title {
    text-align: center;
    color: $bg;
    margin-bottom: 15px;
    @include xs-block {
      font-size: 24px;
    };
  }

  &__prev, &__next {
    @include col;
    @include size(2);
    display: flex;
    align-items: center;
    @include size-lg(3);
    @include xs-block {
      display: none;
    };
  }
  &__prev {
    justify-content: flex-start;
  }
  &__next {
    justify-content: flex-end;
  }

  &__slider {
    @include col;
    @include size(20);
    @include size-lg(18);
    @include xs-block {
      width: 100%;
      margin: 0;
    };
  }

  &__container {
    padding: 0 3px;
  }

  &__link {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
}

.main-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
  border-radius: 6px;
  border: 2px solid $bg;
  background-color: #d8d8e1;
  box-sizing: border-box;

  @include xs-block {
    height: 48px;
  };

  &__content {
    padding: 15px 45px;
  }
}