.main-tabs {
  background: url(../images/bg/bg-tabs.jpg) center 0 no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  padding: 100px 0;
  @include md-block {
    padding: 80px 0;
  };
  @include sm-block {
    padding: 50px 0;
  };
}

.switches {
  margin-bottom: 50px;
  @include sm-block {
    display: none;
  };
  &__list {
    @include col;
    @include size(16);
    @include offset(4);
    @include size-lg(20);
    @include offset-lg(2);
    @include size-md(24);
    @include offset-md(0);

    height: 70px;
    border-radius: 35px;
    border: 1px solid rgba($text, .5);
    padding: 6px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.switch {
  width: 240px;
  height: 56px;
  border-radius: 28px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;

  &:hover {
    .switch__svg {
      fill: $text;
    }
    .switch__text{
      color: $text;
    }
  }

  &.active {
    background-color: $yellow;

    .switch__svg {
      fill: $bg;
    }
    .switch__text{
      color: $bg;
    }
  }

  &__svg {
    max-width: 20px;
    max-height: 20px;
    fill: #929292;
    transition: .3s;
    margin-right: 10px;
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
    color: #929292;
    transition: .3s;
    @include md-block {
      font-size: 20px;
    };
  }
}


.tabs {
  @include sm-block{
    display: none;
  };
}
.tab {
  display: none;

  &.active {
    display: block;
  }
}

.acco {
  display: none;

  @include sm-block {
    display: block;
  };

  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .acco__content {
        display: block;
      }
      .acco__button-wrapper {
        background-color: #ffb30c;
      }
      .acco__button-svg {
        fill: $bg;
      }
      .acco__button-text {
        color: $bg;
      }
      .acco__button-line {
        background: $bg;

        &:last-child {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__button {
    border-radius: 25px;
    border: 1px solid rgba(#303030,.5);
    padding: 4px;
    position: relative;




    &-wrapper {
      display: flex;
      align-items: center;
      border-radius: 20px;
      background-color: #bdbdbd;
      padding: 6px 20px;
      transition: .3s;
    }
    &-svg {
      width: 16px;
      height: 16px;
      fill: #767676;
      margin-right: 10px;
      transition: .3s;
    }
    &-text {
      color: #767676;
      font-size: 18px;
      font-weight: 500;
      transition: .3s;
    }

    &-symbol {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: 20px;
    }
    &-line {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -8px;
      width: 16px;
      height: 2px;
      background-color: $bg;
      transition: .3s;

      &:last-child {
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    display: none;
    padding: 30px 0;
  }
}