.mmenu {


  &__shading {
    position: fixed;
    z-index: 190;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#000,.5);
    display: none;
  }

  &.open {
    .mmenu__shading {
      display: block;
    }

    .mmenu__wrapper {
      left: 0;
    }
  }

  &__wrapper {
    position: fixed;
    z-index: 200;
    top: 0;
    left: -999px;
    height: 100vh;
    max-width: 494px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #e8e8e8;
    background-color: $grey-white;
    box-shadow: 0 11px 16px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    -webkit-overflow-scrolling: touch;


    &::-webkit-scrollbar {
      width: 4px;

      background-color: rgba($violet,.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $violet;
      border-radius: 4px;
    }
  }

  &__top {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    position: relative;

    @include xs-block {
      flex-direction: column;
      padding: 70px 20px  30px 20px;
    };
  }

  &__middle {
    display: none;
    @include xs-block {
      display: block;
      padding: 25px 0;
      border-bottom: 1px solid #e8e8e8;
      .header__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    };
  }

  &__addr {
    @include xs-block {
      margin-bottom: 10px;
    };
  }

  &__close {
    width: 38px;
    height: 38px;
    border: 1px solid $violet;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-right: -19px;
    right: 30px;

    @include xs-block {
      top: 20px;
      left: 50%;
      margin-left: -19px;
      margin-top: 0;
    };

    &-svg {
      width: 18px;
      height: 18px;
      fill: $violet;
    }
  }

  &__search {
    display: none;
    @include xs-block{
      display: block;
    };
  }

  &__controls {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
  }
  &__control {
    display: flex;
    align-items: center;

    &-svg {
      width: 14px;
      height: 12px;
      fill: rgba($text,.6);
      margin-right: 12px;
    }
  }
}

.menum {
  background-color: $yellow;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;

    &.open {
      .menum__svg {
        transform: rotate(-180deg);
      }
    }
  }
  &__text {
    color: $bg;
    font-size: 18px;
    font-weight: 500;
  }

  &__svg {
    width: 30px;
    height: 17px;
    fill: $bg;
    transition: .3s;
  }

  &__list {
    display: none;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $bg;
    @include xs-block {
      border: none;
    };

    &:first-child {
      border-top: 1px solid $bg;
    }
  }

  &__item {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    @include xs-block {
      padding: 20px;
      width: 100%;
      flex-direction: row;
      border-bottom: 1px solid $bg;
    };

    &:nth-child(odd) {
      border-right: 1px solid $bg;
      @include xs-block {
        border-right: none;
        border-bottom: 1px solid $bg;
      };
    }

    &:hover {
      background: #fcbd4c;
      .menum__item-pic {
        display: none;
      }
      .menum__item-pic_active {
        display: block;
      }
      .menum__item-text {
        color: $violet;
      }
    }

    &-img {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      @include xs-block {
        margin-right: 15px;
      };
    }
    &-pic {
      max-height: 100%;

      &_active {
        display: none;
      }
    }

    &-text {
      color: $bg;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
  }
}

.navm {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__item {
    font-size: 18px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    &_bold {
      font-weight: 500;
    }
  }
}