.partners {

  &__left, &__right {
    @include col;
    @include size(12);
    @include size-md(24);
  }

  &__left {
    @include md-block {
      margin-bottom: 35px;
    }
  ;
  }

}

.partner {
  @include col;
  @include size(12);
  height: 145px;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
  background-color: $grey-white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 20px;
  @include size-md(8);
  @include md-block {
    height: 105px;
  };
  @include size-xs(12);
  @include xs-block {
    height: 72px;
    padding: 10px;
    margin-bottom: 20px;
  };

  &__img {
    max-height: 100%;
  }
}

